.technology {
    width: 100%;
}
.technology__content {
    display: flex;
}
.technology__details {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto 0;
}
.details {
    width: 409px;
}
.details__title_margin-bottom {
    margin-bottom: 5px;
}
.details__title2_margin-bottom {
    margin-bottom: 15px;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.technology__image {
    width: 50%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
@media (max-width: 910px) {
    .technology__content {
        flex-wrap: wrap;
    }
    .technology__details {
        width: 100%;
        padding: 10vw 0;
    }
    .technology__image {
        width: 100%;
        margin-top: 0;
    }
}
