.future {
    display: flex;
    width: 100%; 
}
.future__details {
    width: 50%;
    padding: 130px 0;
    display: flex;
    justify-content: center;
}
.future__items {
    width: 400px;
    color: #222222
}
.future__logo {
    display: flex;
    align-items: center;
}
.future__logo-icon {
    width: 64px;
    height: 64px;
}
.future__logo-text {
    margin-left: 14px;
    width: 114px;
}
.future__title {
    font-weight: 400;
    font-size: 54px;
    line-height: 60px;
    margin-top: 10px;
}
.future__description {
    margin: 20px 0;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    width: 380px;
}
.future__buy_btn-width {
    width: 148px;
}
.future__read_btn-width {
    margin-left: 5px;
    width: 145px;
}
.future__image {
    width: 50%;
    margin-top: 73px;
    display: flex;
    justify-content: center;
}

@media (max-width: 910px) {
    .future {
        flex-wrap: wrap;
    }
    .future__details {
        width: 100%;
        padding: 10vw 0;
    }
    .future__image {
        width: 100%;
        margin-top: 5vw;
    }
}
@media (max-width: 450px) {
    .future__details {
        padding: 80px 5vw;
    }
    .future__items {
        width: 100%;
    }
    .future__description {
        width: 100%;
    }
    .future__buy_btn-width {
        width: 120px;
    }
    .future__read_btn-width {
        width: 125px;
    }
}