
.header {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 5;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 120px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo-icon {
    width: 40px;
    height: 40px;
}
.header__logo-text {
    width: 71px;
    height: 22px;
}
.header__list {
    list-style-type: none;
    display: flex;
}
.header__item {
    display: flex;
    align-items: center;
    margin: 0 22px;
}
.header__link {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #666666;
    text-decoration: none;
}
.header__btn {
    width: 172px;
}
.burger {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    display: none;
}
.burger:hover {
    background-color: #E5E5E5
}
.burger:focus {
    border: 2px solid #5AB0FF;
}

@media (max-width: 900px){
    .header__item {
        margin: 0 10px;
    }
}
@media (max-width: 700px){
    .header__list {
        display: none;
    }
    .burger {
        display: block;
    }
}