.mode {
    width: 100%;
    position: relative;
    z-index: 0;
}
.mode_theme-dark {
    background-color: #222222;
}
.mode_theme-light {
    background-color: #ffffff;
}
.mode__items {
    padding-top: 100px;
    padding-bottom: 160px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.mode__title-l1_margin {
    margin-bottom: 5px;
}
.mode__title-l2_margin {
    margin-bottom: 15px;
}
.mode__title-word_color-yellow {
    color : #FF9209;
}
.mode_theme-dark h3.title-l1{
    color: #ffffff;
}
.mode_theme-light h3.title-l1{
    color: #222222;
}
.mode_theme-dark .title-l2{
    color: #ffffff;
}
.mode_theme-light .title-l2{
    color: #222222;
}
.mode_theme-dark .mode__light-theme > .title-l1{
    color: #ffffff;
}
.mode_theme-light .mode__light-theme > .title-l1{
    color: #FF9209;;
}
.mode_theme-dark .mode__dark-theme > .title-l1{
    color: #FF9209;
}
.mode_theme-light .mode__dark-theme > .title-l1{
    color: #222222;
}
.mode__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    width: 575px;
}
.mode_theme-dark  .mode__description {
    color: #ffffff;
}
.mode_theme-light  .mode__description {
    color: #222222;
}
.mode__image {
    width: 100%;
    height: 486px;
    margin-top: 35px;
    margin-bottom: 45px;
    border-bottom: 2px solid #E5E5E5;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.mode__image-img {
    width: auto;
    height: 100%;
}
.mode__toggle-items {
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.mode__light-theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.mode__dark-theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.mode__img_margin {
    margin-bottom: 5px;
}

.mode__moon {
    width: 24px;
    height: 24px;
}
.mode_theme-dark .mode__moon {
    fill: #FF9209;
}
.mode_theme-light .mode__moon {
    fill: #222222;
}
.mode__sun {
    width: 24px;
    height: 24px;
}
.mode_theme-dark .mode__sun {
    fill: #ffffff;
}
.mode_theme-light .mode__sun {
    fill: #FF9209;
}
@media (max-width: 620px) {
    .mode__description {
        width: 90vw;
    }
    .mode__items {
        width: 100vw;
    }
}