.technology {
    width: 100%;
}
.technology__content {
    display: flex;
}
.technology__details {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto 0;
}

.technology__image {
    width: 50%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
@media (max-width: 910px) {
    .technology__content {
        flex-wrap: wrap;
    }
    .technology__details {
        width: 100%;
        padding: 10vw 0;
    }
    .technology__image {
        width: 100%;
        margin-top: 0;
    }
}
