.testimonials {
    width: 100%;
    background-color: #F2F2F2;
    padding: 100px 0;
}
.testimonials__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials__description {
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 40px;
    text-align: center;
}
.testimonials__items {
    width: 100%;
    display: flex;
    justify-content: center;
}
.testimonial {
    width: 379px;
    height: 224px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.testimonial__items {
    display: flex;
    flex-direction: column;
}
.testimonial__title {
    line-height: 30px;
    text-align: center;
}
.testimonial__phrase {
    color: #222222;
}
.testimonial__author {
    margin-top: 22px;
    font-weight: 400;
    font-size: 16px;
    color: #1B1A1A;
    line-height: 20px;
}
.testimonial__position {
    font-weight: 400;
    color: #1B1A1A;
    line-height: 20px;
    font-size: 14px;
}
@media (max-width: 1000px){
    .testimonials__items{
        display: flex;
        flex-wrap: wrap;
    }
    .testimonial{
        margin: 8px;
    }
}
@media(max-width: 600px){
    .testimonials{
        padding: 15vw 0;
    }
}
@media (max-width: 400px){
    .testimonial{
        height: auto;
    }
}